* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header a {
    text-decoration: none;
    color: red;
}

.mobile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.models {
    border: 2px solid grey;
    margin: 1rem;
    padding: 1rem;
    width: 30%;
    text-align: center;
    border-radius: 15px;
}

.models img {
    height: calc(150px + 4.5vw);
    /* width: 400px; */
    width: calc(150px + 4.5vw);
}

.compare {
    padding: 0.5rem 1rem;
    text-decoration: none;
    background-color: blue;
    color: #fff;
    display: inline-block;
    margin: 1rem 0;
    border-radius: 15px;
    /* width: calc(100px + 5.5vw); */
}

header {
    background-color: yellow;
    margin: 1rem;
    border-radius: 10px;
    padding: 0 0.5rem;
}

.line {
    width: 100%;
    height: 5px;
    background-color: red;
    border-radius: 5px;
}

header h2 {
    padding: 0.5rem 0;
}

.singleproduct {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    margin: 0 7rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 5px grey;
}

.details {
    line-height: 3rem;
}

.details span {
    color: red;
}

.comparison {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
}

.item img {
    height: 300px;
    width: 300px;
}

.item {
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
    width: 20%;
=======
    width: 19%;
   flex-wrap: wrap;
    
>>>>>>> b44aedf597cc00b6e4bee2ec026623dd7f436a4b
}

.item h4 {
    word-spacing: 3px;
    font-size: 18px;
    font-family: system-ui;
}

.item li {
    list-style: none;
    margin-left: 30px;
    margin: 0.5rem 0;
}
<<<<<<< HEAD


@media screen and (max-width: 575px) {
    .mobile {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        /* margin: 0 auto; */
    }
    .singleproduct{
        flex-direction: column;
    }

    .models {
        width: 85%;
    }
}


@media screen and (max-width: 999px) {

    .singleproduct{
        margin: 0;
    }
    .singleimage img{
        width: 80%;
    }
    .details {
        line-height: 2rem;
    }
    .models {
        width: 55%;
    }
}



@media screen and (min-width: 1024px) {

    .compare {
        width: 60%
    }
}


@media screen and (max-width: 767px) {

    .comparison {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .item
    {
        width: 50%;
        margin: 0 auto;
    }
}
=======
@media screen  and (max-width:1500px){
    .models img  {
        height: 200px;
        width: 200px;
    }
    .item img{
        height: 300px;
        width: 300px;
    }
    
}
@media screen  and (max-width:1100px){
    .models img  {
        height: 150px;
        width: 150px;
    }
    .item img{
        height: 200px;
        width: 200px;
    }
    
}
@media screen  and (max-width:900px){
    .models img  {
        height: 100px;
        width: 100px;
    }
    .item img{
        height: 150px;
        width: 150px;
    }
    
}
@media screen  and (max-width:600px){
    .models img  {
        height: 50px;
        width: 50px;
    }
    .mobile {
  font-size: 15px;
    }
    .item img{
        height: 100px;
        width: 100px;
    }
    
}
@media screen  and (max-width:420px){
    .models img  {
        height: 50px;
        width: 50px;
    }
    .mobile {
  font-size: 8px;
    }
    .item img{
        height: 50px;
        width: 50px;
    }
    
}
>>>>>>> b44aedf597cc00b6e4bee2ec026623dd7f436a4b
